html {
    height: 100dvh;
    overflow: hidden
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
}

#mini-coin {
    width: 3.2vh;
    height: 3.2vh;
}

#income {
    display: flex;
    align-items: center;
    gap: 1.3vw;
    justify-content: center;
    color: #004D94;
    font-size: 1.3vh;
}

#back-button {
    width: 7vh;
    position: absolute;
    top: 4.5vh;
}

#back-button:active {
    transform: scale(0.95);
    filter: brightness(0.8);
}

@font-face {
    font-family: 'PixelSplitter';
    src: url('/fonts/PixelSplitter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Slab Pro';
    src: local('PFAgoraSlabPro-Medium'),
        url('/fonts/PFAgoraSlabPro-Medium.woff2') format('woff2'),
        url('/fonts/PFAgoraSlabPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}