html,body{
    font-size:100%;line-height:1;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none; -webkit-tap-highlight-color: transparent;}

html {
    height: 100dvh;
    overflow: hidden
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
}

#mini-coin {
    width: 3.6vh;
    height: 3.6vh;
}

#income {
    display: flex;
    align-items: center;
    gap: 1.3vw;
    justify-content: center;
    color: #004D94;
    font-size: 1.7vh;
}

#back-button {
    width: 7vh;
    position: absolute;
    top: 4.5vh;
}

#back-button:active {
    transform: scale(0.95);
    opacity: .8;
}

@font-face {
    font-family: 'PixelSplitter';
    src: url('/fonts/PixelSplitter-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Agora Slab Pro';
    src: url('/fonts/PFAgoraSlabPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}